# Pyber

In [2]:
#Dependencies
from matplotlib import pyplot as plt
from scipy import stats
import pandas as pd
import numpy as np

In [4]:
#Build a bubble plot between the 4 variables:
    #Average Fare($) per City
    #Total Number of Rides per City
    #Total Number of Drivers per City
    #City TYpe (Urban, Suburban, Rural)
#In addition, 3 pie charts:
    #Percentage of Total Fares by City Type
    #Percentage of Total Rides by City Type
    #Percentage of Total Drivers by City Type
    
#Must use colors Gold, Light Sky Blue, and Light Coral

In [147]:
ride_data = pd.read_csv("raw_data/ride_data.csv")
city_data = pd.read_csv("raw_data/city_data.csv")

grouped_ride_df = pd.DataFrame(ride_data)
grouped_city_df = pd.DataFrame(city_data)

In [148]:
#Average Fare($) per city & Total Number of Drivers per city
grouped_city_fare = grouped_ride_df.groupby('city',as_index=False).mean()
#print(grouped_city_fare.head())

pyber_merge = pd.merge(grouped_city_fare, grouped_city_df, on='city', how='outer')
#pyber_merge.head()

In [149]:
#Total Number of Rides per city 
grouped_city_fare = grouped_ride_df.groupby('city',as_index=False).count()

grouped_city_fare = grouped_city_fare.rename(columns={'date':'Total Number of Rides'})
#grouped_city_fare.head()

In [153]:
#Final DF
pyber = pd.merge(pyber_merge, grouped_city_fare, on='city', how='outer')
#pyber

pyber.drop(['fare_y', 'ride_id_y', 'ride_id_x'], axis=1, inplace=True)
pyber.rename(columns={'fare_x':'Average Fare', 'driver_count':'Total Number of Drivers', 'type':'City Type'}, inplace=True)
pyber.head()

,city,Average Fare,Total Number of Drivers,City Type,Total Number of Rides
0,Alvarezhaven,23.928710,21,Urban,31
1,Alyssaberg,20.609615,67,Urban,26
2,Anitamouth,37.315556,16,Suburban,9
3,Antoniomouth,23.625000,21,Urban,22
4,Aprilchester,21.981579,49,Urban,19